<!DOCTYPE html>
<html
  lang="en"
  class="h-full"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>School Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-show="inProgressAssignements.length">
        <h2 class="font-bold mb-2">In Progress</h2>
        <ul>
          <li
            v-for="assignement in inProgressAssignements"
            :key="assignement.name"
          >
            <label>
              {{assignement.name}}

              <input
                type="checkbox"
                v-model="assignement.complete"
              />
            </label>
          </li>
        </ul>
      </section>

      <section
        class="mt-8"
        v-show="comletedAssignements.length"
      >
        <h2 class="font-bold mb-2">Completed</h2>

        <ul>
          <li
            v-for="assignement in comletedAssignements"
            :key="assignement.name"
          >
            <label>
              {{assignement.name}}

              <input
                type="checkbox"
                v-model="assignement.complete"
              />
            </label>
          </li>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            assignements: [
              { name: "Finish project", complete: false },
              { name: "Read chapter 4", complete: false },
              { name: "Turn on Homework", complete: false },
            ],
          };
        },

        computed: {
          comletedAssignements() {
            return this.assignements.filter((a) => a.complete);
          },

          inProgressAssignements() {
            return this.assignements.filter((a) => !a.complete);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
